Django==5.1.1
#psycopg2-binary==2.9.9
gunicorn==23.0.0
python-dotenv==1.0.1
numpy==2.1.1
pandas==2.2.3
scikit-learn==1.5.2
joblib==1.4.2
textblob==0.18.0
cloud-sql-python-connector[pg8000]==1.18.4  # Updated to compatible version for Python 3.12
SQLAlchemy==2.0.36  # For connection pooling
google-auth==2.35.0  # Provides google.oauth2 for service accounts
google-generativeai==0.8.0  # For Gemini API integration
requests==2.32.3  # For general API handling
